.custom-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: black;
}

/* date picker */
/* @import url("~air-datepicker/air-datepicker.css");  */

.nav-link {
    color: #000000;
  }
  .nav-link.active {
    background-color: #007bff !important;
    color: #fff !important;
  }
  .tab-content {
    padding: 20px;
    border: 1px solid #dee2e6;
    border-top: none;
  }

  .form-control:disabled, .form-control[readonly]{
    background-color: white;
  }