.custom-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: black;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown-toggle::after{
    display: none !important;
}

