.nav-treeview {
    display: none;
}

.menu-open > .nav-treeview {
    display: block;
}

.sidebar-custom {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    height: 100% !important;
    /* overflow-y: auto !important; */
}

.info {
    white-space: normal !important;
    overflow-wrap: break-word !important;
}

.image {
    align-items: center !important;
}
